<div class="show-reminder">
  <button class="hide-button">Hide</button>
  <p>The next time to <%= @entry_type_name %> is:</p>
  <p><%= @reminder.next_weekday_to_water %></p>
  <p><%= @reminder.next_date_to_water %></p>
</div>