<div class="show-entry">
  <button class="hide-button">Hide</button>
  <p>Title:  <%= @entry.title %></p>
  <p>Description:  <%= @entry.description %></p>
  <p>Date:  <%= @entry.created_at.to_date %></p>
  <p>Entry Type:  <%= @entry_type.name %></p>
</div>