<div class="container">
  <p>Log in:</p>
  <form method="POST" action="/sessions">
    <p><label for="email">Email</label><input type="text" name="email"></p>
    <p><label for="password">Password</label><input type="password" name="password"></p>
<!--     <p><label for="confirm_password">Confirm Password</label><input type="password" name="confirm_password"></p> -->
  <button type="submit">Submit</button>
  </form>
</div>