<div class="container">
  <h2>Create a new type of entry</h2>
  <form method="POST" action='/entry_types'>
    <label>Briefly, describe what this entry is (e.g."water veggies"):</label>
    <input type="text" name="name">
    <br>
    <label>Give a number for how often you do this (in days):</label>
    <input type="text" name="reminder_freq">
    <input type="submit" value="Submit" class="button">
  </form>