<div class="container">
  <h1>Welcome to Frank's Garden App</h1>
  <h2>What would you like to do?</h2>
  <a>Login</a>
  <a>Register</a>
  <a href='/entries'>Display all entries</a>
  <a href='/entries/new'>Create a new entry</a>
  <a href='/'>Home</a>
</div>
