<div class="container">
  <h1>Welcome to Frank's Garden App</h1>
  <h2>What would you like to do?</h2>
  <a>Login</a>
  <a>Register</a>
  <a href='/sessions/new'>Log In</a>
</form>
  <a href='/users/new'>Sign Up</a>
  <h3><%= ENV['SUPER_SECRET_KEY'] %></h3>
</div>
